In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('accidents_india.csv')
df.head()

,Day_of_Week,Light_Conditions,Sex_Of_Driver,Vehicle_Type,Speed_limit,Pedestrian_Crossing,Road_Type,Special_Conditions_at_Site,Number_of_Pasengers,Accident_Severity
0,Thursday,Darkness,0.0,1.0,20.0,0.0,5.0,0.0,3.0,Serious
1,Saturday,Darkness,0.0,5.0,40.0,3.0,3.0,1.0,3.0,Slight
2,Monday,Daylight,0.0,0.0,40.0,0.0,2.0,1.0,3.0,Slight
3,Monday,Darkness,1.0,1.0,20.0,1.0,3.0,0.0,5.0,Slight
4,Sunday,Daylight,0.0,1.0,20.0,1.0,6.0,1.0,4.0,Slight

In [2]:
df.columns[df.isna().any()]

Index(['Day_of_Week', 'Light_Conditions', 'Sex_Of_Driver', 'Vehicle_Type',
       'Speed_limit', 'Pedestrian_Crossing', 'Road_Type',
       'Special_Conditions_at_Site', 'Number_of_Pasengers',
       'Accident_Severity'],
      dtype='object')

In [3]:
df.Sex_Of_Driver = df.Sex_Of_Driver.fillna(df.Sex_Of_Driver.mean())
df.Vehicle_Type = df.Vehicle_Type.fillna(df.Vehicle_Type.mean())
df.Speed_limit = df.Speed_limit.fillna(df.Speed_limit.mean())
df.Road_Type = df.Road_Type.fillna(df.Road_Type.mean())
df.Number_of_Pasengers = df.Number_of_Pasengers.fillna(df.Speed_limit.mean())

In [4]:
df.replace(np.nan, '', regex=True)

,Day_of_Week,Light_Conditions,Sex_Of_Driver,Vehicle_Type,Speed_limit,Pedestrian_Crossing,Road_Type,Special_Conditions_at_Site,Number_of_Pasengers,Accident_Severity
0,Thursday,Darkness,0.000000,1.000000,20.000000,0,5.000000,0,3.000000,Serious
1,Saturday,Darkness,0.000000,5.000000,40.000000,3,3.000000,1,3.000000,Slight
2,Monday,Daylight,0.000000,0.000000,40.000000,0,2.000000,1,3.000000,Slight
3,Monday,Darkness,1.000000,1.000000,20.000000,1,3.000000,0,5.000000,Slight
4,Sunday,Daylight,0.000000,1.000000,20.000000,1,6.000000,1,4.000000,Slight
...,...,...,...,...,...,...,...,...,...,...
679,Friday,Darkness,0.000000,0.000000,20.000000,1,3.000000,0,6.000000,Slight
680,Tuesday,Daylight,1.000000,0.000000,30.000000,1,2.000000,0,6.000000,Slight
681,Friday,Daylight,0.000000,0.000000,30.000000,1,3.000000,1,2.000000,Slight
682,Sunday,Daylight,0.000000,0.000000,40.000000,1,4.000000,1,5.000000,Serious
683,,,0.497804,0.515373,30.204978,,3.396779,,30.204978,

In [5]:
df.fillna('', inplace=True)
df.columns[df.isna().any()]

Index([], dtype='object')

In [6]:
pd.unique(df['Accident_Severity'])

array(['Serious', 'Slight', ''], dtype=object)

In [7]:
df.dropna(inplace = True)

In [8]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [9]:
#LabelEncoding
c = LabelEncoder()
df['Day'] = c.fit_transform(df['Day_of_Week'])
df.drop('Day_of_Week', axis=1, inplace=True)
l = LabelEncoder()
df['Light'] = l.fit_transform(df['Light_Conditions'])
df.drop('Light_Conditions', axis=1, inplace=True)
s = LabelEncoder()
df['Severity'] = s.fit_transform(df['Accident_Severity'])
df.drop('Accident_Severity', axis=1, inplace=True)
df.head()

,Sex_Of_Driver,Vehicle_Type,Speed_limit,Pedestrian_Crossing,Road_Type,Special_Conditions_at_Site,Number_of_Pasengers,Day,Light,Severity
0,0.0,1.0,20.0,0,5.0,0,3.0,5,1,1
1,0.0,5.0,40.0,3,3.0,1,3.0,3,1,2
2,0.0,0.0,40.0,0,2.0,1,3.0,2,2,2
3,1.0,1.0,20.0,1,3.0,0,5.0,2,1,2
4,0.0,1.0,20.0,1,6.0,1,4.0,4,2,2

In [10]:
from sklearn.model_selection import train_test_split
x = df.drop(['Pedestrian_Crossing', 'Special_Conditions_at_Site', 'Severity'], axis=1)
y = df['Severity']

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.76)

In [12]:
from sklearn.tree import DecisionTreeClassifier
reg = DecisionTreeClassifier(criterion='gini')
reg.fit(x_train, y_train)

DecisionTreeClassifier()

In [13]:
reg.score(x_test, y_test)

0.5134615384615384

In [14]:
pd.unique(y)

array([1, 2, 0])

In [16]:
import numpy as np
import pickle
inputt=[int(x) for x in "2 10 201 10 10 8 3".split(' ')]
final=[np.array(inputt)]
b = reg.predict(final)
pickle.dump(reg,open('test1.pkl','wb'))
test=pickle.load(open('test1.pkl','rb'))